<h3><%= @category.name %></h3>
<div id="category"></div>

<div>
  Monthly average: <%= number_with_precision(@average, :precision => 2)  %>
</div>
<div>
  Current expense: <%= number_with_precision(@current_expense, :precision => 2) %>
</div>
<div>
  You are
  <% if @difference >= 0 %>
    above
  <% else %>
    below
  <% end %>
  the monthly average by <%= number_with_precision(@difference, :precision => 2) %>
</div>

<h3>Year</h3>
<table class="expense">
<% @yearly_data.reverse_each do |month, dict| %>
  <tr>
    <td><%= dict[:date].year %></td>
    <td class="amount"><%= number_with_precision(dict[:sum], :precision => 2) %></td>
  </tr>
<% end %>
</table>

<h3>Month</h3>
<table class="expense">
<% @monthly_data.reverse_each do |month, dict| %>
  <tr>
    <td><%= link_to month, category_monthly_trends_path(@category.slug, dict[:date].year, dict[:date].month) %></td>
    <td class="amount"><%= number_with_precision(dict[:sum], :precision => 2) %></td>
  </tr>
<% end %>
</table>

<input type="hidden" id="category-id" value="<%= @category.id %>" />
<input type="hidden" id="category-name" value="<%= @category.name %>" />
<input type="hidden" id="category-slug" value="<%= @category.slug %>" />
