<h2>Trends</h2>

<table id="monthly-expenses">
  <tr>
    <th>Month</th>
    <th>Amount</th>
  </tr>
<% @expenses_months.each do |month, expenses| %>
  <tr>
    <td><%= month.strftime("%B %Y") %></td>
    <td class="amount"><%= number_with_precision(expenses.sum(&:amount), :precision => 2) %></td>
  </tr>
<% end %>
</table>

<% @expenses_months.each do |month, expenses| %>
  <h2><%= month.strftime("%B %Y") %></h2>
  <% for expense in expenses %>
    <div class="expense">
      <%= expense.date.to_date.to_s(:long) %> -
      <strong><%= expense.description %></strong> -
      <%= expense.amount_display %>
    </div>
  <% end %>
<% end %>
