<!DOCTYPE html>
<html>
<head>
  <title>SpendALot</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" %>
  <%= javascript_include_tag "jquery.min.js" %>
  <%= javascript_include_tag "jquery-ui.min.js" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "http://www.google.com/jsapi" %>
  <script type="text/javascript">
    google.load('visualization', '1', {packages: ['corechart']});
  </script>
  <%= javascript_include_tag "gcolumn_chart.js" %>
  <%= javascript_include_tag "pie_chart.js" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <h1><%= link_to "Spend a Lot", home_path %></h1>
    <div id="top-navigation">
      <div>
      <% if request.request_uri == '/' %>
         Overview
      <% else %>
        <%= link_to "Overview", home_path %>
      <% end %>
      </div>
      <div>
      <% if request.request_uri.include? 'expenses' %>
        Expenses
      <% else %>
        <%= link_to "Expenses", expenses_path %>
      <% end %>
      </div>
      <div>
      <% if request.request_uri.include? 'trends' %>
        Trends
      <% else %>
        <%= link_to "Trends", trends_path %>
      <% end %>
      </div>
    </div>
  </div>
  <div id="content">
    <% if flash.notice %>
    <div id="flash-messages">
      <%= flash.notice %>
    </div>
    <% end %>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>
</body>
</html>
